{% extends 'store/base.html' %}

{% block content %}
{% load static %}

<div class="text-center text-light bg-dark p-5 mt-1">
<div class="about text-center">
    <h1>About Us</h1>
</div>
<div class="container-fluid p-5" data-aos="fade-up">

      <div class="container">
        <div class="row">
          <div class="col">
            <h2>About Project</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nulla eius nostrum itaque minus, facilis suscipit. Dolore sapiente, exercitationem ducimus soluta, hic placeat veritatis quo, cum nulla saepe labore odio.</p>
          </div>
          <div class="col">
            <h2>Work of this site</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nulla eius nostrum itaque minus, facilis suscipit. Dolore sapiente, exercitationem ducimus soluta, hic placeat veritatis quo, cum nulla saepe labore odio.</p>
          </div>
          <div class="col">
            <h2>Main Purpose</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit nulla eius nostrum itaque minus, facilis suscipit. Dolore sapiente, exercitationem ducimus soluta, hic placeat veritatis quo, cum nulla saepe labore odio.</p>
          </div>
        </div>
      </div>
      
    

  </div>
  <div class="team">
    <div class="container text-center">
      <h1>Team</h1>
    </div>
    <div class="row">
      <div class="col-3 me-4 ms-5">
        <div class="card mx-4" style="width: 18rem;">
          <img height="300px" src="{% static 'image/macaca1_nigra_self-portrait_rotated_and_cropped.jpg' %}" class="card-img-top text-dark" alt="Image of Ankit">
          <div class="card-body">
            <p class="card-text text-dark">
              <b>Name:</b> Ankit Sharma
              <br>
              <b>Student:</b> IT(4th Year)
              <br>
              <b>Role:</b> Database And Admin side Coding
            </p>
          </div>
        </div>
      </div>
      <div class="col-3 me-5 ms-4">
        <div class="card mx-5" style="width: 18rem;">
          <img height="300px" src="{% static 'image/images1.jpg' %}" class="card-img-top text-dark" alt="Image of Anshul">
          <div class="card-body">
            <p class="card-text text-dark">
              <p class="card-text text-dark">
                <b>Name:</b> Anshul Kumar Mishra
                <br>
                <b>Student:</b> IT(4th Year)
                <br>
                <b>Role:</b> Requirement Gathering and Analysis
              </p>
            </p>
          </div>
        </div>
      </div>
      <div class="col-3 me-4 ms-5">
        <div class="card mx-4" style="width: 18rem;">
          <img height="300px" src="{% static 'image/2018-08-19_17.30.20.jpg' %}" class="card-img-top text-dark" alt="Image of Shivam">
          <div class="card-body">
            <p class="card-text text-dark">
              <p class="card-text text-dark">
                <b>Name:</b> Shivam Sharma
                <br>
                <b>Student:</b> IT(4th Year)
                <br>
                <b>Role:</b> Full stack Development and Designing
              </p>
            </p>
          </div>
        </div>
      </div>
              
    </div>
  </div>
  

</div>
   

{% endblock %}