{% extends 'store/base.html' %}

{% block content %}


<section id="contact" class="contact text-light bg-dark p-5 mt-1">
<div class="w-100 h-100 ">
<div class="container-fluid">
    <div class="container" data-aos="fade-up">

        <div class="title">
          <h1>Contact Us</h1>
          <p>You can contact us with the help of given details or you can do any query from the form section.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Madiyaon, Lucknow</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>shivamss1231550@gmail.com<br>ankitsharma10202@gmail.com<br>anshul420sdf@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91 9956794040<br>+91 9140739290<br>+91 7607698476</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 text-light bg-dark">
            <form method="post" class="text-light bg-dark" action="/contactus">
              {% csrf_token %}
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="error-message"></div>
                <div class="sent-message">Thank you!</div>
              </div>
              <div class="text-center"><button class="btn btn-primary" type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>

</div>
</div>
</section>

{% endblock %}