{% extends 'store/base.html' %}
{% load store_tags %}
{% block content %}

<div class="container-fluid">
<!-- <h1>index.html</h1> -->

<div class="row mt-3">

  <div id="categories" class="col-2">
    <ul class="list-group">
      <li class="list-group-item">A second item</li>
      
    </ul>
  
  </div>
  
  <div id="products" class="col">
    <div class="row">
      {% for product in products %}
      
      
      <div class="col-3 mx-4 mt-4">
          <div class="card" style="width: 18rem;">
              <img src="{{product.thumbnail.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">
                    save {{product.discount}}%
                    <br>
                    <span> <del></del>Rs. {{product.price}}</del></span> 
                    <span>Rs. {% sale_price product.price product.discount %}</span> 
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>
      
      {% endfor %}
      </div>
  
  </div>
      

</div>


</div>

{% endblock %}